.formulario{
  display: inline-block;
  text-align: left;
}

p.error{
  color: red;
}

nav.bg{
  background-color: lightgray;
}


.propia{
  opacity: 100;
  position: relative;
}

tr{
  text-align: center;
  border: 2px solid black;

}
td{
  text-align: center;
  border: 2px solid black;
}
th{
  text-align: center;
  border: 2px solid black;
}
